<html>
  <head>
    <style>
      body{
        background-color: white
      }
    </style>
  </head>
  <body>
    <p>
      <%= original %>
    </p>
    <p>
      <%= translated %>
    </p>
    <p>
      <form>
      <label>Message: </label>
        <input type='text' name='message' />
        <label>Shift: </label>
        <input type='text' name='shift' />
        <input type='submit' value='translate!' />
      </form>
    </p>
  </body>
</html>